@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-dark_1: #1B262C;
    --color-dark_2: #363B4E;
    --color-dark_3: #4F3B78;
    --color-dark_4: #927FBF;
    --color-dark_5: #C4BBF0;
    --color-light_1: #ffffff;
    --color-light_2: #e5e7eb;
    --color-light_3: #D1D5DB;
    --color-light_4: #d1d5db;
    --color-light_5: #6b7280;
    --color-light_6: #374151;
    --color-light_7: #1f2937;
}

/* Define a CSS animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.skill-card {
    opacity: 0;
    animation: fadeInUp 0.5s ease forwards;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Delay the animation for each skill card */
.skill-card:nth-child(1) {
    animation-delay: 0.2s;
}
.skill-card:nth-child(2) {
    animation-delay: 0.4s;
}
.skill-card:nth-child(3) {
    animation-delay: 0.6s;
}
.skill-card:nth-child(4) {
    animation-delay: 0.8s;
}
.skill-card:nth-child(5) {
    animation-delay: 1s;
}
.skill-card:nth-child(6) {
    animation-delay: 1.2s;
}
.skill-card:nth-child(7) {
    animation-delay: 1.4s;
}
.skill-card:nth-child(8) {
    animation-delay: 1.6s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 2.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}


